.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

*{
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
ul{
  list-style: none;
}
.app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.main{
  width: 100%;
  flex: 1;
}

.header{
    z-index: 999;
    height: 50px;
    line-height: 50px;
    background: #333;
    color: #fff;
    /*position: fixed;*/
    width: 100%;
    /*top: 0;*/
    display: flex;
    box-sizing: border-box;
}
.header>.top{
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: flex;
}
.header>.top>ul{
    list-style: none;
    width: 70%;
    margin: 0;
    display: flex;
    padding: 0;
    vertical-align: bottom;
}
.header>.top>.logo{
    width: 6.6em;
    height: 4.1em;

}
.header>.top>.logo>img{
    width: 4.6em;
    height: 1.5em;
    margin: 20%;
}

.header >.top> ul > li{
    display: inline-block;
    height: 100%;
    line-height: 50px;
    flex: 1;
    text-align: center;
    font-size: 1.5em;
}

.playinglist{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6em;
}
.playinglist>div{
  width: 25%;
  box-sizing: border-box;
  padding: 2%;
}
.playinglist>div>img{
  width: 100%;
  height: 10em;
}
.playinglist>.playnow{
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
  font-size: 1.5em
}


