
.dis_top{
	width: 100%;
	position: relative;
}
.dis_top>img{
	width: 100%;
	display: block;
}
.dis_top>span{
	position: absolute;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: 3rem;
	color: #fff;
	width: 100%;
	bottom: 0;
	left: 0;
	background: rgba(20,20,20,.5);
}

.list{
	
}
.list>div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1rem;
}

.list>div>img{
	width: 7.5rem;
	height: 6rem;
}

.list>.type1>div{
	width: 100%;
	font-size: 1.2rem;
	font-weight: 900;
	line-height: 2.4rem;
}
.list>.typeo>div{
	margin-left: 1rem;
	flex: 1;
	font-size: 1.2rem;
	font-weight: 900;
	line-height: 1.4rem;
}